p{ 
    color:gray;
    text-align: left;
    font-family: fantasy;
    background-color: rgb(82, 77, 124);
}
h1{
    font-family: sans-serif;
    color: crimson;
    text-align: center;
}
body{
 background-color: honeydew;
}

 